{% extends 'frontend/base.html.twig' %}

{% block body %}
	<div class="rbt-single-product-area rbt-single-product rbt-section-gap">
		<div class="container">
			<div class="row g-5 row--30 align-items-center">
				<div class="col-lg-6">
					<div class="thumbnail">
						<img class="w-100 radius-10" src="{{ asset('uploads/' ~ event.imageFilename) }}" alt="{{event.name}}">
					</div>
				</div>
				<div class="col-lg-6">
					<div class="content">
						<h2 class="title mt--10 mb--10">{{event.name}}</h2>
						<div class="rbt-price justify-content-start mt--10">
							<span class="current-price theme-gradient">
						    	{% if event.price == 0 %}
                                    free
                                {% else %}
                                    {{ event.price }} Dt
                                {% endif %}
							</span>
						</div>
						<div class="rbt-price justify-content-start mt--10">
							<span class="current-price theme-gradient">Number of Places: {{event.nbParticipants}}</span>
						</div>
						<div class="rbt-price justify-content-start mt--10">
							<span class="current-price theme-gradient">Category: {{event.category}}</span>
						</div>
                        <div class="rbt-price justify-content-start mt--10">
							<span class="current-price theme-gradient"> 
							    {{ event.startDate ? event.startDate|date('Y-m-d') : 'Not set' }} - 
                                {{ event.endDate ? event.endDate|date('Y-m-d') : 'Not set' }}
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="rbt-product-description rbt-section-gapBottom bg-color-white">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2">
					<ul class="nav nav-tabs tab-button-style-2" id="myTab" role="tablist">
						<li class="nav-item" role="presentation">
							<a href="#" class="tab-button active" id="home-tab-4" data-bs-toggle="tab" data-bs-target="#home-4" role="tab" aria-controls="home-tab-4" aria-selected="true">
								<span class="title">Description</span>
							</a>
						</li>
					</ul>

					<div class="tab-content" id="myTabContent">
						<div class="product-description-content tab-pane fade active show" id="home-4" role="tabpanel" aria-labelledby="home-tab-4">
							<p>{{event.description | raw }}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="rbt-separator-mid">
		<div class="container">
			<hr class="rbt-separator m-0">
		</div>
	</div>
{% endblock %}