{% extends 'frontend/base.html.twig' %}

{% block body %}
	<div class="rbt-overlay-page-wrapper">
		<div class="breadcrumb-image-container breadcrumb-style-max-width">
			<div class="breadcrumb-image-wrapper">
				<div class="breadcrumb-dark">
					<img src="{{ asset('frontend/assets/images/bg/bg-image-10.jpg') }}" alt="Education Images">
				</div>
			</div>
			<div class="breadcrumb-content-top text-center">
				<ul class="meta-list justify-content-center mb--10">
					<li class="list-item">
						<i class="feather-clock"></i>
						<span>{{blog.createdAt | date('d/m/Y')}}</span>
					</li>
				</ul>
				<h1 class="title">{{blog.title}}</h1>
				<p>{{blog.description}}</p>
			</div>
		</div>

		<div class="rbt-blog-details-area rbt-section-gapBottom breadcrumb-style-max-width">
			<div class="blog-content-wrapper rbt-article-content-wrapper">
				<div class="content">
					<div class="post-thumbnail mb--30 position-relative wp-block-image alignwide">
						<figure>
							<img src="{{ asset('frontend/assets/images/blog/blog-single-03.png') }}" alt="Blog Images">
						</figure>
					</div>
                    {{blog.detailedDescription | raw}}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
