<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>University About - Online Courses & Education Bootstrap5 Template</title>
		<meta name="robots" content="noindex, follow"/>
		<meta name="description" content="">
		<meta
		name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Favicon -->
		<link
		rel="shortcut icon" type="image/x-icon" href="{{ asset('frontend/assets/images/favicon.png') }}">

		<!-- CSS============================================ -->
		<link rel="stylesheet" href="{{ asset('frontend/assets/css/vendor/bootstrap.min.css') }}">
		<link rel="stylesheet" href="{{ asset('frontend/assets/css/vendor/slick.css') }}">
		<link rel="stylesheet" href="{{ asset('frontend/assets/css/vendor/slick-theme.css') }}">
		<link rel="stylesheet" href="{{ asset('frontend/assets/css/plugins/sal.css') }}">
		<link rel="stylesheet" href="{{ asset('frontend/assets/css/plugins/feather.css') }}">
		<link rel="stylesheet" href="{{ asset('frontend/assets/css/plugins/fontawesome.min.css') }}">
		<link rel="stylesheet" href="{{ asset('frontend/assets/css/plugins/euclid-circulara.css') }}">
		<link rel="stylesheet" href="{{ asset('frontend/assets/css/plugins/swiper.css') }}">
		<link rel="stylesheet" href="{{ asset('frontend/assets/css/plugins/odometer.css') }}">
		<link rel="stylesheet" href="{{ asset('frontend/assets/css/plugins/animation.css') }}">
		<link rel="stylesheet" href="{{ asset('frontend/assets/css/plugins/bootstrap-select.min.css') }}">
		<link rel="stylesheet" href="{{ asset('frontend/assets/css/plugins/jquery-ui.css') }}">
		<link rel="stylesheet" href="{{ asset('frontend/assets/css/plugins/magnigy-popup.min.css') }}">
		<link rel="stylesheet" href="{{ asset('frontend/assets/css/plugins/plyr.css') }}">
		<link rel="stylesheet" href="{{ asset('frontend/assets/css/style.css') }}">
	</head>

	<body
		class="rbt-header-sticky">
		<!-- Start Header Area -->
		<header
			class="rbt-header rbt-header-4">
			<!-- Start Header Top -->
			<div class="rbt-header-top rbt-header-top-1 variation-height-50 header-space-betwween bg-color-white border-top-bar-primary-color rbt-border-bottom d-none d-xl-block">
				<div class="container-fluid">
					<div class="rbt-header-sec align-items-center ">
						<div class="rbt-header-sec-col rbt-header-left">
							<div class="rbt-header-content">
								<div class="header-info">
									<ul class="rbt-information-list">
										<li>
											<a href="#">
												<i class="feather-phone"></i>+1-202-555-0174</a>
										</li>
									</ul>
								</div>
								<div class="rbt-separator"></div>
								<div class="header-info">
									<ul class="social-share-transparent">
										<li>
											<a href="#">
												<i class="fab fa-facebook-f"></i>
											</a>
										</li>
										<li>
											<a href="#">
												<i class="fab fa-twitter"></i>
											</a>
										</li>
										<li>
											<a href="#">
												<i class="fab fa-linkedin-in"></i>
											</a>
										</li>
										<li>
											<a href="#">
												<i class="fab fa-instagram"></i>
											</a>
										</li>
										<li>
											<a href="#">
												<i class="fab fa-skype"></i>
											</a>
										</li>
										<li>
											<a href="#">
												<i class="fab fa-youtube"></i>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End Header Top -->
			<div class="rbt-header-wrapper header-space-betwween bg-color-white header-sticky">
				<div class="container-fluid">
					<div class="mainbar-row rbt-navigation-start align-items-center">
						<div class="header-left">
							<div class="logo logo-dark">
								<a href="{{ path('frontend_index')}}">
									<img src="{{ asset('frontend/assets/images/logo/logo.png') }}" alt="Education Logo Images">
								</a>
							</div>
							<div class="logo d-none logo-light">
								<a href="{{ path('frontend_index')}}">
									<img src="{{ asset('frontend/assets/images/dark/logo/logo-light.png') }}" alt="Education Logo Images">
								</a>
							</div>
						</div>
						<div class="rbt-main-navigation d-none d-xl-block">
							<nav class="mainmenu-nav">
								<ul class="mainmenu">
									<li class="with-megamenu has-menu-child-item position-static">
										<a href="{{ path('frontend_product_list') }}">
											Produits
										</a>
									</li>
									<li class="with-megamenu has-menu-child-item position-static">
										<a href="{{ path('frontend_blog_list') }}">
											Evénements
										</a>
									</li>
									<li class="with-megamenu has-menu-child-item position-static">
										<a href="{{ path('frontend_blog_list') }}">
											Articles
										</a>
									</li>
									{# <li class="with-megamenu has-menu-child-item position-static">
										<a href="{{ path('backend_contact_add') }}">
											Contact
										</a>
									</li> #}
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</header>

		<!-- Mobile Menu Section -->
		<div class="popup-mobile-menu">
			<div class="inner-wrapper">
				<div class="inner-top">
					<div class="content">
						<div class="logo">
							<a href="index.html">
								<img src="{{ asset('frontend/assets/images/logo/logo.png') }}" alt="Education Logo Images">
							</a>
						</div>
						<div class="rbt-btn-close">
							<button class="close-button rbt-round-btn">
								<i class="feather-x"></i>
							</button>
						</div>
					</div>
					<p class="description">Histudy is a education website template. You can customize all.</p>
					<ul class="navbar-top-left rbt-information-list justify-content-start">
						<li>
							<a href="mailto:hello@example.com">
								<i class="feather-mail"></i>example@gmail.com</a>
						</li>
						<li>
							<a href="#">
								<i class="feather-phone"></i>(302) 555-0107</a>
						</li>
					</ul>
				</div>

				<nav class="mainmenu-nav">
					<ul class="mainmenu">
						<li class="with-megamenu has-menu-child-item position-static">
							<a href="#">Blog
								<i class="feather-chevron-down"></i>
							</a>
							<!-- Start Mega Menu  -->
							<div class="rbt-megamenu grid-item-3">
								<div class="wrapper">
									<div class="row row--15">
										<div class="col-lg-12 col-xl-4 col-xxl-4 single-mega-item">
											<h3 class="rbt-short-title">Blog Styles</h3>
											<ul class="mega-menu-item">
												<li>
													<a href="blog-list.html">Blog List</a>
												</li>
												<li>
													<a href="blog.html">Blog Grid</a>
												</li>
												<li>
													<a href="blog-grid-minimal.html">Blog Grid Minimal</a>
												</li>
												<li>
													<a href="blog-with-sidebar.html">Blog With Sidebar</a>
												</li>
												<li>
													<a href="blog-details.html">Blog Details</a>
												</li>
												<li>
													<a href="post-format-standard.html">Post Format Standard</a>
												</li>
												<li>
													<a href="post-format-gallery.html">Post Format Gallery</a>
												</li>
											</ul>
										</div>

										<div class="col-lg-12 col-xl-4 col-xxl-4 single-mega-item">
											<h3 class="rbt-short-title">Get Started</h3>
											<ul class="mega-menu-item">
												<li>
													<a href="post-format-quote.html">Post Format Quote</a>
												</li>
												<li>
													<a href="post-format-audio.html">Post Format Audio</a>
												</li>
												<li>
													<a href="post-format-video.html">Post Format Video</a>
												</li>
												<li>
													<a href="#">Media Under Title
														<span class="rbt-badge-card">Coming</span>
													</a>
												</li>
												<li>
													<a href="#">Sticky Sidebar
														<span class="rbt-badge-card">Coming</span>
													</a>
												</li>
												<li>
													<a href="#">Auto Masonry
														<span class="rbt-badge-card">Coming</span>
													</a>
												</li>
												<li>
													<a href="#">Meta Overlaid
														<span class="rbt-badge-card">Coming</span>
													</a>
												</li>
											</ul>
										</div>

										<div class="col-lg-12 col-xl-4 col-xxl-4 single-mega-item">
											<div class="rbt-ads-wrapper">
												<a class="d-block" href="#"><img src="assets/images/service/mobile-cat.jpg" alt="Education Images"></a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- End Mega Menu  -->
						</li>
					</ul>
				</nav>

				<div class="mobile-menu-bottom">
					<div class="rbt-btn-wrapper mb--20">
						<a class="rbt-btn btn-border-gradient radius-round btn-sm hover-transform-none w-100 justify-content-center text-center" href="#">
							<span>Enroll Now</span>
						</a>
					</div>

					<div class="social-share-wrapper">
						<span class="rbt-short-title d-block">Find With Us</span>
						<ul class="social-icon social-default transparent-with-border justify-content-start mt--20">
							<li>
								<a href="https://www.facebook.com/">
									<i class="feather-facebook"></i>
								</a>
							</li>
							<li>
								<a href="https://www.twitter.com">
									<i class="feather-twitter"></i>
								</a>
							</li>
							<li>
								<a href="https://www.instagram.com/">
									<i class="feather-instagram"></i>
								</a>
							</li>
							<li>
								<a href="https://www.linkdin.com/">
									<i class="feather-linkedin"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>

			</div>
		</div>
		<!-- Start Side Vav -->
		<div class="rbt-cart-side-menu">
			<div class="inner-wrapper">
				<div class="inner-top">
					<div class="content">
						<div class="title">
							<h4 class="title mb--0">Your shopping cart</h4>
						</div>
						<div class="rbt-btn-close" id="btn_sideNavClose">
							<button class="minicart-close-button rbt-round-btn">
								<i class="feather-x"></i>
							</button>
						</div>
					</div>
				</div>
				<nav class="side-nav w-100">
					<ul class="rbt-minicart-wrapper">
						<li class="minicart-item">
							<div class="thumbnail">
								<a href="#">
									<img src="assets/images/product/1.jpg" alt="Product Images">
								</a>
							</div>
							<div class="product-content">
								<h6 class="title">
									<a href="single-product.html">Miracle Morning</a>
								</h6>

								<span class="quantity">1 *
									<span class="price">$22</span>
								</span>
							</div>
							<div class="close-btn">
								<button class="rbt-round-btn">
									<i class="feather-x"></i>
								</button>
							</div>
						</li>

						<li class="minicart-item">
							<div class="thumbnail">
								<a href="#">
									<img src="assets/images/product/7.jpg" alt="Product Images">
								</a>
							</div>
							<div class="product-content">
								<h6 class="title">
									<a href="single-product.html">Happy Strong</a>
								</h6>

								<span class="quantity">1 *
									<span class="price">$30</span>
								</span>
							</div>
							<div class="close-btn">
								<button class="rbt-round-btn">
									<i class="feather-x"></i>
								</button>
							</div>
						</li>

						<li class="minicart-item">
							<div class="thumbnail">
								<a href="#">
									<img src="assets/images/product/3.jpg" alt="Product Images">
								</a>
							</div>
							<div class="product-content">
								<h6 class="title">
									<a href="single-product.html">Rich Dad Poor Dad</a>
								</h6>

								<span class="quantity">1 *
									<span class="price">$50</span>
								</span>
							</div>
							<div class="close-btn">
								<button class="rbt-round-btn">
									<i class="feather-x"></i>
								</button>
							</div>
						</li>

						<li class="minicart-item">
							<div class="thumbnail">
								<a href="#">
									<img src="assets/images/product/4.jpg" alt="Product Images">
								</a>
							</div>
							<div class="product-content">
								<h6 class="title">
									<a href="single-product.html">Momentum Theorem</a>
								</h6>

								<span class="quantity">1 *
									<span class="price">$50</span>
								</span>
							</div>
							<div class="close-btn">
								<button class="rbt-round-btn">
									<i class="feather-x"></i>
								</button>
							</div>
						</li>
					</ul>
				</nav>

				<div class="rbt-minicart-footer">
					<hr class="mb--0">
					<div class="rbt-cart-subttotal">
						<p class="subtotal">
							<strong>Subtotal:</strong>
						</p>
						<p class="price">$121</p>
					</div>
					<hr class="mb--0">
					<div class="rbt-minicart-bottom mt--20">
						<div class="view-cart-btn">
							<a class="rbt-btn btn-border icon-hover w-100 text-center" href="#">
								<span class="btn-text">View Cart</span>
								<span class="btn-icon">
									<i class="feather-arrow-right"></i>
								</span>
							</a>
						</div>
						<div class="checkout-btn mt--20">
							<a class="rbt-btn btn-gradient icon-hover w-100 text-center" href="#">
								<span class="btn-text">Checkout</span>
								<span class="btn-icon">
									<i class="feather-arrow-right"></i>
								</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Side Vav -->
		<a class="close_side_menu" href="javascript:void(0);"></a>
		{% block body %}{% endblock %}

		<!-- Start Newsletter Area  -->
		<div class="rbt-newsletter-area bg-color-white rbt-section-gapBottom pt--60">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="section-title text-center">
							<h2 class="title">Want to get special offers
								<br/>
								and Course updates?</h2>
							<form action="#" class="newsletter-form-1 mt--50 radius-round">
								<input class="rbt-border" type="email" placeholder="Enter Your E-Email">
								<button type="submit" class="rbt-btn btn-md btn-gradient hover-icon-reverse radius-round">
									<span class="icon-reverse-wrapper">
										<span class="btn-text">Subscribe</span>
										<span class="btn-icon">
											<i class="feather-arrow-right"></i>
										</span>
										<span class="btn-icon">
											<i class="feather-arrow-right"></i>
										</span>
									</span>
								</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Newsletter Area  -->

		<div class="rbt-separator-mid">
			<div class="container">
				<hr class="rbt-separator m-0">
			</div>
		</div>

		<!-- Start Footer aera -->
		<footer class="rbt-footer footer-style-1">
			<div class="footer-top">
				<div class="container">
					<div class="row row--15 mt_dec--30">
						<div class="col-lg-4 col-md-6 col-sm-6 col-12 mt--30">
							<div class="footer-widget">
								<div class="logo logo-dark">
									<a href="index.html">
										<img src="{{ asset('frontend/assets/images/logo/logo.png') }}" alt="Edu-cause">
									</a>
								</div>
								<div class="logo d-none logo-light">
									<a href="index.html">
										<img src="{{ asset('frontend/assets/images/dark/logo/logo-light.png') }}" alt="Edu-cause">
									</a>
								</div>

								<p class="description mt--20">We’re always in search for talented and motivated people. Don’t be shy introduce yourself!
								</p>

								<div class="contact-btn mt--30">
									<a class="rbt-btn hover-icon-reverse btn-border-gradient radius-round" href="{{ path('backend_contact_add') }}">
										<div class="icon-reverse-wrapper">
											<span class="btn-text">Contactez-nous
											</span>
											<span class="btn-icon">
												<i class="feather-arrow-right"></i>
											</span>
											<span class="btn-icon">
												<i class="feather-arrow-right"></i>
											</span>
										</div>
									</a>
								</div>
							</div>
						</div>

						<div class="offset-lg-1 col-lg-2 col-md-6 col-sm-6 col-12 mt--30">
							<div class="footer-widget">
								<h5 class="ft-title">Useful Links</h5>
								<ul class="ft-link">
									<li>
										<a href="12-marketplace.html">Marketplace</a>
									</li>
									<li>
										<a href="04-kindergarten.html">kindergarten</a>
									</li>
									<li>
										<a href="13-university-classic.html">University</a>
									</li>
									<li>
										<a href="09-gym-coaching.html">GYM Coaching</a>
									</li>
									<li>
										<a href="faqs.html">FAQ</a>
									</li>
								</ul>
							</div>
						</div>

						<div class="col-lg-2 col-md-6 col-sm-6 col-12 mt--30">
							<div class="footer-widget">
								<h5 class="ft-title">Our Company</h5>
								<ul class="ft-link">
									<li>
										<a href="contact.html">Contact Us</a>
									</li>
									<li>
										<a href="become-a-teacher.html">Become Teacher</a>
									</li>
									<li>
										<a href="blog.html">Blog</a>
									</li>
									<li>
										<a href="instructor.html">Instructor</a>
									</li>
									<li>
										<a href="event-list.html">Events</a>
									</li>
								</ul>
							</div>
						</div>

						<div class="col-lg-3 col-md-6 col-sm-6 col-12 mt--30">
							<div class="footer-widget">
								<h5 class="ft-title">Get Contact</h5>
								<ul class="ft-link">
									<li>
										<span>Phone:</span>
										<a href="#">(406) 555-0120</a>
									</li>
									<li>
										<span>E-mail:</span>
										<a href="mailto:hr@example.com">rainbow@example.com</a>
									</li>
									<li>
										<span>Location:</span>
										North America, USA</li>
								</ul>
								<ul class="social-icon social-default icon-naked justify-content-start mt--20">
									<li>
										<a href="https://www.facebook.com/">
											<i class="feather-facebook"></i>
										</a>
									</li>
									<li>
										<a href="https://www.twitter.com">
											<i class="feather-twitter"></i>
										</a>
									</li>
									<li>
										<a href="https://www.instagram.com/">
											<i class="feather-instagram"></i>
										</a>
									</li>
									<li>
										<a href="https://www.linkdin.com/">
											<i class="feather-linkedin"></i>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!-- End Footer aera -->
		<div class="rbt-separator-mid">
			<div class="container">
				<hr class="rbt-separator m-0">
			</div>
		</div>
		<!-- Start Copyright Area  -->
		<div class="copyright-area copyright-style-1 ptb--20">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-12">
						<p class="rbt-link-hover text-center text-lg-start">Copyright © 2024
							<a href="https://rainbowthemes.net">Rainbow-Themes.</a>
							All Rights Reserved</p>
					</div>
					<div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-12">
						<ul class="copyright-link rbt-link-hover justify-content-center justify-content-lg-end mt_sm--10 mt_md--10">
							<li>
								<a href="#">Terms of service</a>
							</li>
							<li>
								<a href="privacy-policy.html">Privacy policy</a>
							</li>
							<li>
								<a href="subscription.html">Subscription</a>
							</li>
							<li>
								<a href="login.html">Login & Register</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- End Copyright Area  -->

		<div class="rbt-progress-parent">
			<svg class="rbt-back-circle svg-inner" width="100%" height="100%" viewbox="-1 -1 102 102">
				<path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"/>
			</svg>
		</div>

		<!-- JS============================================ -->
		<!-- Modernizer JS -->
		<script src="{{ asset('frontend/assets/js/vendor/modernizr.min.js') }}"></script>
		<!-- jQuery JS -->
		<script src="{{ asset('frontend/assets/js/vendor/jquery.js') }}"></script>
		<!-- Bootstrap JS -->
		<script src="{{ asset('frontend/assets/js/vendor/bootstrap.min.js') }}"></script>
		<!-- sal.js -->
		<script src="{{ asset('frontend/assets/js/vendor/sal.js') }}"></script>
		<!-- Dark Mode Switcher -->
		<script src="{{ asset('frontend/assets/js/vendor/js.cookie.js') }}"></script>
		<script src="{{ asset('frontend/assets/js/vendor/jquery.style.switcher.js') }}"></script>
		<script src="{{ asset('frontend/assets/js/vendor/swiper.js') }}"></script>
		<script src="{{ asset('frontend/assets/js/vendor/jquery-appear.js') }}"></script>
		<script src="{{ asset('frontend/assets/js/vendor/odometer.js') }}"></script>
		<script src="{{ asset('frontend/assets/js/vendor/backtotop.js') }}"></script>
		<script src="{{ asset('frontend/assets/js/vendor/isotop.js') }}"></script>
		<script src="{{ asset('frontend/assets/js/vendor/imageloaded.js') }}"></script>

		<script src="{{ asset('frontend/assets/js/vendor/wow.js') }}"></script>
		<script src="{{ asset('frontend/assets/js/vendor/waypoint.min.js') }}"></script>
		<script src="{{ asset('frontend/assets/js/vendor/easypie.js') }}"></script>
		<script src="{{ asset('frontend/assets/js/vendor/text-type.js') }}"></script>
		<script src="{{ asset('frontend/assets/js/vendor/jquery-one-page-nav.js') }}"></script>
		<script src="{{ asset('frontend/assetsts/js/vendor/bootstrap-select.min.js') }}"></script>
		<script src="{{ asset('frontend/assets/js/vendor/jquery-ui.js') }}"></script>
		<script src="{{ asset('frontend/assets/js/vendor/magnify-popup.min.js') }}"></script>
		<script src="{{ asset('frontend/assets/js/vendor/paralax-scroll.js') }}"></script>
		<script src="{{ asset('frontend/assets/js/vendor/paralax.min.js') }}"></script>
		<script src="{{ asset('frontend/assets/js/vendor/countdown.js') }}"></script>
		<script src="{{ asset('frontend/assets/js/vendor/plyr.js') }}') }}"></script>
		<!-- Main JS -->
		<script src="{{ asset('frontend/assets/js/main.js') }}"></script>
	</body>
</html>

