{% extends 'base.html.twig' %}

{% block title %}Complaints index{% endblock %}

{% block body %}
    <h1>Complaints index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Subject</th>
                <th>Details</th>
                <th>Status</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for complaint in complaints %}
            <tr>
                <td>{{ complaint.id }}</td>
                <td>{{ complaint.subject }}</td>
                <td>{{ complaint.details }}</td>
                <td>{{ complaint.status ? complaint.status|json_encode : '' }}</td>
                <td>
                    <a href="{{ path('app_complaints_show', {'id': complaint.id}) }}">show</a>
                    <a href="{{ path('app_complaints_edit', {'id': complaint.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_complaints_new') }}">Create new</a>
{% endblock %}
